.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
  }

  .card{
    width: 24%;
    height: 370px;
    margin: 30px auto;
  }
  .scrollable{
    overflow-y: auto;
    max-height: 200px;
  }